.app {
  max-width: 40rem;
  height: 100%;
  margin: 0 auto;

  font-size: 1.0625rem;
  color: var(--color-gray-1);
}

.appSlide {
  display: flex;
  flex-direction: column;
  align-items: stretch;

  width: 100%;
  height: 100%;

  @supports (padding-top: var(--safe-area-top)) {
    padding-top: var(--safe-area-top);
  }
}

.footer {
  width: 100%;
  padding: 0 1rem 1rem;

  @supports (padding-bottom: var(--safe-area-bottom)) {
    margin-bottom: var(--safe-area-bottom);
  }
}

.connectButton {
  width: 100%;
  max-width: 100%;
  padding: 0.875rem;
  border-radius: 0.75rem;

  font-size: 1.0625rem;
  font-weight: 700;
  line-height: 1.0625rem;
  color: #FFFFFF;

  background-color: var(--color-accent);
}

.walletInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 100%;
  min-height: 4rem;
  margin-top: auto;
  padding: 0 1rem 1rem;
  border-top: 1px solid #2C333E1F;

  :global(html.theme-dark) & {
    border-top-color: #F6F7F81F;
  }

  font-size: 1.0625rem;
  line-height: 1.0625rem;
  color: var(--color-black);

  background-color: var(--color-background-first);
  box-shadow: inset 0 0 0 0 var(--color-separator);

  @supports (padding-bottom: var(--safe-area-bottom)) {
    min-height: calc(4rem + var(--safe-area-bottom));
    padding-bottom: var(--safe-area-bottom);
  }
}

.walletAddress {
  font-weight: 700;
}

.walletDescription {
  margin-top: 0.375rem;
  font-size: 0.8125rem;
  line-height: 0.8125rem;
  color: var(--color-gray-2);
}

.disconnectLink {
  cursor: pointer;
  color: var(--color-accent);

  &:hover {
    text-decoration: underline;
  }
}

.error {
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 0.5rem;
  align-items: center;
  justify-content: center;
}

.errorTitle {
  font-size: 1.25rem;
  font-weight: 600;
  color: var(--color-red);
}

.errorSubtitle {
  color: var(--color-gray-2);
}
