.container {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  padding: 1rem;

  text-align: center;
}

.sticker {
  margin: 0 auto 1.25rem;
}

.title {
  margin: 0;
  font-size: 1.5rem;
  font-weight: 800;
  color: var(--color-black);
}

.subtitle {
  margin: 0.5rem 0 0;
  font-size: 0.9375rem;
  line-height: 1.375;
  color: var(--color-gray-2);
}
