@use "../../styles/mixins";

$listHorizontalPadding: 1rem;

// More specific selector for overwrite css variable
.rootSlide.rootSlide {
  --background-color: var(--color-background-first);

  overflow: visible !important;
  background-color: var(--background-color);
}

.slide {
  overflow: auto;
  overflow-y: scroll;
  height: 100%;

  @include mixins.respond-above(xs) {
    --color-gray-button-background-light: var(--color-background-second);
  }
}

.list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(8rem, 1fr));
  gap: 1.25rem 0.75rem;
  align-content: start;

  padding: 0 $listHorizontalPadding calc(max(var(--safe-area-bottom), 1rem) + var(--bottombar-height) + 1rem);

  &.landscapeList {
    padding-bottom: 1rem;
  }

  @include mixins.adapt-padding-to-scrollbar($listHorizontalPadding);
}

.suggestionsMenu {
  --offset-x-value: 0.5rem;

  width: calc(100% - 1rem);

  @include mixins.respond-below(xs) {
    max-height: 15rem;
  }
}

.suggestions {
  --offset-y-value: 0.5rem;

  z-index: 3;
  margin: 0 0.5rem;

  @include mixins.adapt-margin-to-scrollbar(0.5rem);
}

.suggestion {
  --color-interactive-popup-menu-hover: var(--color-interactive-item-hover);

  align-items: center;
  font-size: 1rem;
}

.suggestionWithSeparator {
  @include mixins.separatorListTop(2.75rem);

  &FullWidth {
    @include mixins.separatorListTop(0);
  }
}

.suggestionIcon {
  margin-inline-end: 0.5rem;
  font-size: 1.25rem !important;
  color: var(--color-gray-3);

  @media (pointer: coarse) {
    font-size: 1.5rem !important;
  }
}

.suggestionAddress {
  overflow: hidden;
  font-size: 1rem;
  text-overflow: ellipsis;
}

.clearSuggestion {
  cursor: var(--custom-cursor, pointer);

  position: absolute;
  top: 0;
  right: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 2.75rem;
  height: 2.75rem;
  padding: 0;
  border: none;

  font-size: 1.25rem;
  line-height: 1rem;
  color: var(--color-gray-4);

  background: none;

  transition: color 150ms;

  &:hover,
  &:focus-visible {
    color: var(--color-gray-3);
  }

  @media (pointer: coarse) {
    width: 3rem;
    height: 3rem;
    font-size: 1.5rem;
  }
}

.walletSuggestion {
  display: flex;
  align-items: center;
  width: 100%;
}

.walletSuggestionAvatar {
  margin-inline-end: 0.75rem;
}

.walletSuggestionInfo {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.walletSuggestionTitle,
.walletSuggestionSubtitle {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.walletSuggestionTitle {
  font-weight: 650;
  color: var(--color-black);
}

.walletSuggestionSubtitle {
  margin-top: 0.125rem;

  font-size: 0.8125rem;
  font-weight: 500;
  line-height: 1rem;
  color: var(--color-gray-2);
}

.emptyList {
  display: flex;
  flex-direction: column;
  align-items: center;

  height: 100%;
  padding-top: 1.875rem;
  padding-bottom: 2rem;

  color: var(--color-gray-2);

  @include mixins.respond-above(xs) {
    justify-content: center;
  }
}

.emptyListLoading {
  padding-top: 8rem;

  @include mixins.respond-above(xs) {
    padding-bottom: 8rem;
  }
}

.searchWrapper {
  width: 100%;
  margin-bottom: 0.5rem;
  padding-bottom: 1rem;
  background-color: var(--background-color);

  @include mixins.respond-below(xs) {
    position: sticky !important;
    z-index: 3;
    top: 0;

    padding-top: calc(0.5rem + var(--safe-area-top));

    transition: background-color 300ms;

    :global(html.animation-level-0) & {
      transition: none !important;
    }

    &:global(.is-scrolled) {
      @supports (backdrop-filter: saturate(180%) blur(20px)) {
        background-color: var(--color-background-first-blur);
        backdrop-filter: saturate(180%) blur(20px);
      }
    }
  }
}

.searchContainer {
  --background-color: #B4BCC329;

  position: relative;

  display: flex;
  flex-shrink: 0;
  align-items: center;

  height: 2.5rem;
  margin: 0 1rem;
  border-radius: var(--border-radius-normal);

  font-size: 1.25rem;
  line-height: 1;
  color: var(--color-gray-2);

  background-color: var(--background-color);

  @include mixins.adapt-margin-to-scrollbar(1rem);

  @include mixins.respond-below(xs) {
    margin-top: 0.25rem;
  }

  :global(.theme-dark) & {
    --background-color: #888C9029;
  }
}

.searchIcon {
  margin-left: 0.75rem;
}

.searchInput {
  scroll-margin: 0.625rem 0.5rem;

  width: 100%;
  padding: 0 0.25rem;
  border: none;

  font-size: 1rem;
  font-weight: 600;
  color: var(--color-black);

  appearance: none;
  background: transparent;
  outline: none;

  &::placeholder {
    font-weight: 600;
    color: var(--color-gray-2);
  }

  &:hover,
  &:focus {
    &::placeholder {
      color: var(--color-interactive-input-text-hover-active);
    }
  }
}

.spinner {
  --spinner-size: 1.25rem;

  flex-shrink: 0;
  margin: 0 0.5rem;
}

.sectionHeader {
  margin: 0 1rem 0.625rem;

  font-size: 1.25rem;
  font-weight: 800;
  line-height: 1.75rem;
  color: var(--color-black);

  &Featured {
    margin-bottom: 0;
  }
}

.featuredSection {
  margin-bottom: 1.75rem;
}

.featuredList {
  scrollbar-width: none;
  scroll-padding-left: 1rem;
  scroll-snap-type: x mandatory;

  overflow-x: auto;
  display: flex;
  gap: 0.75rem;

  margin-top: -0.25rem;
  padding: 0.875rem 1rem 0;

  &::-webkit-scrollbar {
    display: none !important;
  }

  @include mixins.adapt-padding-to-scrollbar(1rem);
}

.featuredItem {
  scroll-snap-align: start;
  scroll-snap-stop: always;
}
