name: Upload sites to S3

on:
  push:
    branches: [master]
  workflow_dispatch:

concurrency:
  group: ${{ github.ref }}
  cancel-in-progress: true

env:
  APP_NAME: MyTonWallet
  STAKING_POOLS: ${{ vars.STAKING_POOLS }}
  PUBLISH_REPO: ${{ vars.PUBLISH_REPO }}
  BRILLIANT_API_BASE_URL: ${{ vars.BRILLIANT_API_BASE_URL }}
  SWAP_FEE_ADDRESS: ${{ vars.SWAP_FEE_ADDRESS }}
  DIESEL_ADDRESS: ${{ vars.DIESEL_ADDRESS }}
  S3_BUCKET: ${{ vars.PUBLISH_REPO && 'sites-mytonwallet' || 'sites-mytonwallet-dev' }}

jobs:
  changes:
    runs-on: ubuntu-latest
    outputs:
      mytonwallet: ${{ steps.filter.outputs.mytonwallet }}
      multisend: ${{ steps.filter.outputs.multisend }}
      push: ${{ steps.filter.outputs.push }}
    steps:
      - uses: actions/checkout@v4

      - uses: dorny/paths-filter@v3
        id: filter
        with:
          filters: |
            mytonwallet:
              - 'src/**'
              - '!src/multisend/**'
              - '!src/push/**'
              - 'webpack.config.ts'
              - 'package.json'
              - 'package-lock.json'
              - 'tsconfig.json'
              - 'babel.config.js'
              - 'postcss.config.js'
              - '.browserslistrc'
              - '.github/workflows/upload-sites.yml'
            multisend:
              - 'src/multisend/**'
              - 'src/util/**'
              - 'src/lib/**'
              - 'webpack-multisend.config.ts'
              - 'package.json'
              - 'package-lock.json'
              - '.github/workflows/upload-sites.yml'
            push:
              - 'src/push/**'
              - 'src/util/**'
              - 'src/lib/**'
              - 'webpack-push.config.ts'
              - 'package.json'
              - 'package-lock.json'
              - '.github/workflows/upload-sites.yml'

  deploy-mytonwallet:
    needs: [changes]
    if: needs.changes.outputs.mytonwallet == 'true' || github.event_name == 'workflow_dispatch'
    runs-on: ubuntu-latest
    environment: production
    steps:
      - uses: actions/checkout@v4

      - name: Prepare the Node environment
        uses: mytonwallet-org/shared-actions/prepare_node@master
        with:
          node-version: ${{ vars.NODE_VERSION }}

      - name: Prepare minio
        uses: mytonwallet-org/shared-actions/prepare_minio@master
        with:
          endpoint: ${{ secrets.S3_ENDPOINT }}
          access-key: ${{ vars.S3_ACCESS_KEY }}
          secret-key: ${{ secrets.S3_SECRET_KEY }}

      - name: Build and deploy
        run: |
          if [ -z "$PUBLISH_REPO" ]; then
            npm run build:staging
          else
            npm run build:production
          fi

      - name: Upload to S3
        uses: mytonwallet-org/shared-actions/upload_site@master
        with:
          folder: ./dist
          bucket: ${{ env.S3_BUCKET }}
          domain: ${{ vars.PUBLISH_REPO && 'mytonwallet.app' || 'beta.mytonwallet.app' }}

  deploy-telegram:
    needs: [changes]
    if: needs.changes.outputs.mytonwallet == 'true' || github.event_name == 'workflow_dispatch'
    runs-on: ubuntu-latest
    environment: production
    steps:
      - uses: actions/checkout@v4

      - name: Prepare the Node environment
        uses: mytonwallet-org/shared-actions/prepare_node@master
        with:
          node-version: ${{ vars.NODE_VERSION }}

      - name: Prepare minio
        uses: mytonwallet-org/shared-actions/prepare_minio@master
        with:
          endpoint: ${{ secrets.S3_ENDPOINT }}
          access-key: ${{ vars.S3_ACCESS_KEY }}
          secret-key: ${{ secrets.S3_SECRET_KEY }}

      - name: Build
        run: |
          if [ -z "$PUBLISH_REPO" ]; then
            npm run telegram:build:staging
          else
            npm run telegram:build:production
          fi

      - name: Upload to S3
        uses: mytonwallet-org/shared-actions/upload_site@master
        with:
          folder: ./dist
          bucket: ${{ env.S3_BUCKET }}
          domain: ${{ vars.PUBLISH_REPO && 'tma.mytonwallet.io' || 'tma-beta.mytonwallet.io' }}

  deploy-explorer:
    needs: [changes]
    if: vars.PUBLISH_REPO == '' && (needs.changes.outputs.mytonwallet == 'true' || github.event_name == 'workflow_dispatch')
    runs-on: ubuntu-latest
    environment: production
    steps:
      - uses: actions/checkout@v4

      - name: Prepare the Node environment
        uses: mytonwallet-org/shared-actions/prepare_node@master
        with:
          node-version: ${{ vars.NODE_VERSION }}

      - name: Prepare minio
        uses: mytonwallet-org/shared-actions/prepare_minio@master
        with:
          endpoint: ${{ secrets.S3_ENDPOINT }}
          access-key: ${{ vars.S3_ACCESS_KEY }}
          secret-key: ${{ secrets.S3_SECRET_KEY }}

      - name: Build
        run: npm run explorer:build:staging

      - name: Upload to S3
        uses: mytonwallet-org/shared-actions/upload_site@master
        with:
          folder: ./dist
          bucket: ${{ env.S3_BUCKET }}
          domain: my.tt

  deploy-multisend:
    needs: [changes]
    if: vars.PUBLISH_REPO == '' && (needs.changes.outputs.multisend == 'true' || github.event_name == 'workflow_dispatch')
    runs-on: ubuntu-latest
    environment: production
    steps:
      - uses: actions/checkout@v4

      - name: Prepare the Node environment
        uses: mytonwallet-org/shared-actions/prepare_node@master
        with:
          node-version: ${{ vars.NODE_VERSION }}

      - name: Prepare minio
        uses: mytonwallet-org/shared-actions/prepare_minio@master
        with:
          endpoint: ${{ secrets.S3_ENDPOINT }}
          access-key: ${{ vars.S3_ACCESS_KEY }}
          secret-key: ${{ secrets.S3_SECRET_KEY }}

      - name: Build and deploy
        run: npm run multisend:build

      - name: Upload to S3
        uses: mytonwallet-org/shared-actions/upload_site@master
        with:
          folder: ./dist-multisend
          bucket: ${{ env.S3_BUCKET }}
          domain: multisend.mytonwallet.io

  deploy-push:
    needs: [changes]
    if: vars.PUBLISH_REPO == '' && (needs.changes.outputs.push == 'true' || github.event_name == 'workflow_dispatch')
    runs-on: ubuntu-latest
    environment: production
    steps:
      - uses: actions/checkout@v4

      - name: Prepare the Node environment
        uses: mytonwallet-org/shared-actions/prepare_node@master
        with:
          node-version: ${{ vars.NODE_VERSION }}

      - name: Prepare minio
        uses: mytonwallet-org/shared-actions/prepare_minio@master
        with:
          endpoint: ${{ secrets.S3_ENDPOINT }}
          access-key: ${{ vars.S3_ACCESS_KEY }}
          secret-key: ${{ secrets.S3_SECRET_KEY }}

      - name: Build and deploy
        env:
          PUSH_API_URL: ${{ vars.PUSH_API_URL }}
          PUSH_APPLE_OAUTH_CLIENT_ID: ${{ vars.PUSH_APPLE_OAUTH_CLIENT_ID }}
          PUSH_FACEBOOK_OAUTH_CLIENT_ID: ${{ vars.PUSH_FACEBOOK_OAUTH_CLIENT_ID }}
          PUSH_GOOGLE_OAUTH_CLIENT_ID: ${{ vars.PUSH_GOOGLE_OAUTH_CLIENT_ID }}
          PUSH_MICROSOFT_OAUTH_CLIENT_ID: ${{ vars.PUSH_MICROSOFT_OAUTH_CLIENT_ID }}
        run: npm run push:build

      - name: Upload to S3
        uses: mytonwallet-org/shared-actions/upload_site@master
        with:
          folder: ./dist-push
          bucket: ${{ env.S3_BUCKET }}
          domain: push.bot
